.content {
	margin: 0 auto;
	max-width: 800px;
}

.generator {
  text-align: center;

	.results {
		min-height: 164px;

		display: flex;
		align-items: center;
		justify-content: center;

		font-size: 64px;
		line-height: 1.2;
	}
}
