.dice-icon {
  display: flex;
  align-items: center;
  justify-content: center;

  .svg-icon {
    width: 48px;
    height: 48px;
  }
}
.reset { text-decoration: none; border-bottom: 0; }

.roller-history {
  margin: 16px auto 0;
  max-width: 320px;

  .subtitle {
    margin-bottom: 16px;
  }

  ul {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-gap: 8px;

    margin: 16px auto;
    padding: 0;
    list-style: none;
  }
}