$sans-stack: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$serif-stack: "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif;

$white: #fff;
$black: #222;
$black-lighter: #2a2a2a;

$gray-darker: #666;
$gray: #aaa;

$red: #de5974;
$red-dark: darken($red, 15%);

// $app-bg: #1f1f1f;
$app-bg: $black-lighter;
$app-text-color: #dadada;

// nav colors
$nav-bg: $black-lighter;
$nav-bg-active: #1f1f1f;
$nav-color: $gray;
$nav-color-active: $white;

$border-separator-color: #3a3a3a;