@charset "utf-8";
@import './variables';

@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/elements/button.sass";
@import "../node_modules/bulma/sass/elements/table.sass";

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: transparent;
  overscroll-behavior: none;
}

// Default body styles
body {
  margin: 0; padding: 64px 16px 80px;
  font-family: $sans-stack;
  font-size: 14px;
  line-height: 1.6;
  color: $app-text-color;
  background-color: transparent;
  overscroll-behavior: none;
  min-height: calc(100vh - 144px);
  background: url(/img/bg.svg) 0 0 no-repeat #13121b;
  background-size: 100% 100%;
}

h1, h2, h3 {
  margin: 0;
  font-size: 16px;
}

.logo {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 200px;

  &.sm { width: 108px; height: 108px; }
  &.about { float: left; margin: 0 16px 16px 0; }

  -webkit-filter: drop-shadow(0 0 8px rgba(0,0,0,0.8));
  filter: drop-shadow(0 0 8px rgba(0,0,0,0.8));
}

a:not([class]),
a:not([class]):visited,
a:not([class]):active {
  color: $red;
  text-decoration: none;
  border-bottom: 1px solid $red;
}

.red { color: $red; }
.link { text-decoration: none; border-bottom: 0; }


p {
  margin-top: 0;
  margin-bottom: 16px;
}

blockquote {
  margin: 24px auto;
  max-width: 82%;

  font-family: $serif-stack;
  font-size: 1rem;
  font-style: italic;
  text-align: center;

  strong { display: inline; }
}


#app {
  .description {
    margin: 0 auto 16px;
    font-weight: 300;
    text-align: center;
  }

  .is-centered {
    text-align: center;
  }

  .is-serif {
    font-family: $serif-stack;
  }

  .is-italic {
    font-style: italic;
  }

  hr {
    background-color: $gray;
  }

  table, .table, .table th, .table td {
    color: $app-text-color !important;
    background-color: transparent;
    border-color: $gray-darker;
  }

  .table { font-size: 14px; }

  .card {
    margin: 0 auto 16px;
    overflow: hidden;

    p:last-child,
    &:last-of-type {
      margin-bottom: 0;
    }

    [rowspan] {
      vertical-align: center;
    }

    .notes { font-size: 14px; }
    .isfloat {
      float: left;
      margin-right: 8px;
    }
  }

  .footer-buttons {
    padding: 32px 0;
  }

  .splash {
    position: fixed;
    top: 0; right: 0; bottom: 0; left: 0;
    z-index: 500;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    background: url(/img/bg.svg) 0 0 no-repeat;
    background-size: 100% 100%;

    h1 {
      margin-bottom: 32px;
    }

    > div {
      margin-top: -64px;
    }
  }
}

.fade-enter-active, .fade-leave-active {
  transition: opacity 1s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}


@import 'titles';
@import 'buttons';
@import 'forms';
@import 'ui/nav';
@import 'ui/generator';
@import 'ui/roller';
@import 'ui/adventure';
@import 'ui/dndcard';