@charset "utf-8";
@import './variables';
// @import '../node_modules/bulma/bulma.sass';

@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/elements/button.sass";
@import "../node_modules/bulma/sass/elements/table.sass";
// @import "../node_modules/bulma/sass/grid/columns.sass";

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $app-bg;
  overscroll-behavior: none;
}

// Default body styles
body {
  margin: 0; padding: 16px 16px 96px;
  font-family: $base-font;
  line-height: 1.6;
  color: $app-text-color;
  background-color: $app-bg;
  overscroll-behavior: none;
}

h1, h2, h3 {
  margin: 0;
  font-size: 18px;
}

.logo {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 200px;

  &.sm { width: 108px; height: 108px; }
  &.about { float: left; margin: 0 16px 16px 0; }

  -webkit-filter: drop-shadow(0 0 8px rgba(0,0,0,0.8));
  filter: drop-shadow(0 0 8px rgba(0,0,0,0.8));
}

a:not([class]) {
  color: $red;
  text-decoration: none;
  border-bottom: 1px solid $red;
}

.red { color: $red; }


#app {
  .title, .subtitle {
    margin-bottom: 1rem;
  }

  .is-centered {
    text-align: center;
  }

  .button.is-primary {
    &,
    &:focus,
    &:active {
      background-color: $red-dark;
      border: 1px solid $red;
      outline: none;
      box-shadow: none;
    }
  }

  p {
    margin-top: 0;
    margin-bottom: 1rem;
  }

  hr {
    background-color: $gray;
  }

  table, .table,
  .table th {
    color: $app-text-color !important;
    background-color: transparent;
  }

  .card {
    margin-bottom: 16px;
    padding: 16px;
    color: $app-text-color;
    border: 1px solid #333;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0,0,0,0.3);

    &:last-of-type {
      margin-bottom: 0;
    }

    [rowspan] {
      vertical-align: center;
    }
  }

  .footer-buttons {
    padding: 32px 0;
  }
}

@import 'ui/nav';
@import 'ui/generator';
@import 'ui/dndcard';